```gitignore
__pycache__/
*.pyc

.venv/
venv/

*.pth

*.png

minigpt/*.pt
!minigpt/model_mix_2dig_cot_100.pt
data/*.txt
!data/.gitkeep

.idea/
.vscode/

.DS_Store

test_*.py
!test_eval_mix_2dig_cot_sample.py
!test_eval_mix_2dig_cot_full.py
train_*.txt

*_errors.txt