```gitignore
__pycache__/
*.pyc

.venv/
venv/

*.pth

*.png

minigpt/*.pt
!minigpt/model_mix_256_4_100.pt
data/*.txt
!data/.gitkeep

.idea/
.vscode/

.DS_Store

test_*.py
!test_eval_add_sub_mul.py
train_*.txt

*_errors.txt